.background {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0006;
}

.container {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
}

.close {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.close h4 {
  flex-grow: 1;
}

.sourcesList {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  max-height: 300px;
  margin: 10px 0;
  padding: 5px;
  border-radius: 10px;
  overflow-y: scroll;
  border: 1px solid grey;
}

:-webkit-scrollbar-track {
  background: red;
}

.sourcesList:-webkit-scrollbar-thumb {
  background: blue;
}

.sourcesList::-webkit-scrollbar-thumb:hover {
  background: green;
}

.sourcesList {
  width: 100%;
  text-align: center;
}

.sourcesList .empty {
  color: grey;
}

.sourcesList .row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #282828;
}

.sourcesList .row span {
  flex-grow: 1;
}

.sourcesList .row button {
  width: 40px;
  border-radius: 8px;
}

.formContainer {
  display: flex;
  width: 100%;
}

.formContainer label {
  display: none;
}

.formContainer input {
  flex-grow: 1;
  margin-right: 10px;
  color: white;
  background-color: #222;
}

.formContainer input:focus {
  color: white;
  background-color: #252525;
}

.formContainer input:hover {
  border-color: white;
  outline: 1px solid white;
}

.formContainer button {
  font-size: 20px;
  width: 60px;
}

.container button[type="submit"] {
  width: 100%;
  margin-top: 20px;
}
