.sale {
  displaY: flex;
  flex-direction: column;
  padding: 20px;
}

.sale .sumary {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff2;
}

.sale .sumary span {
  flex-grow: 1;
  text-align: right;
  font-size: 15px;
  font-weight: bold;
}

.sale .sumary button:nth-child(2) {
  margin-left: 20px;
}
