.table {
  flex-grow: 1;
  border-radius: 10px;
  height: calc(100vh - 230px);
  overflow-x: scroll;
  background-color: #fff2;
}

.responsive {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: max-content;
  min-width: 100%;
}

.data {
  flex-grow: 1;
  overflow-y: scroll;
}

/* width */
.data::-webkit-scrollbar {
  width: 18px;
}

/* Track */
.data::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.data::-webkit-scrollbar-thumb {
  background: grey;
  width: 10px;
}

.firstRow {
  background: gray;
  padding-right: 17px;
}

.rows {
  display: grid;
  grid-template-columns: 120px repeat(4, 1fr) 100px 150px 80px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.rows span {
  padding: 5px;
  border-right: 1px solid #ccc;
}

.rows button {
  border-radius: 0;
}

.expenses {
  grid-template-columns: 180px 120px repeat(4, 1fr) 80px;
}
