.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #102040;
  color: white;
}

.container h1{
  margin-top: 50px;
}

.dataContainer{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnContainer{
  display: flex;
  flex-direction: column;
}

.btnContainer a{
  margin-bottom: 20px;
  padding: 15px 30px;
  font-size: 20px;
}
