.background{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
  background-color: #102040;
}

.head h1{
  margin: 30px;
}

.head a{
  margin: 0 auto;
  width: min-content;
}

.container{
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  padding: 30px;
}

.head{
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.head a{
  width: max-content;
  height: 40px;
}

.head h1{
  flex-grow: 1;
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff2;
}

.form h4{
  margin-bottom: 20px;
}

.form label{
  width: 100%;
  text-align: left;
}

.form input, .form select{
  width: 300px;
}

.form button{
  width: 100%;
  margin-top: 20px;
}

small{
  display: block;
  text-align: center;
  color: rgb(255, 100, 100);
}