.background{
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
  background-color: #102040;
}

.background h1{
  margin: 30px;
}

.background a{
  margin: 0 auto;
  width: min-content;
}

.container{
  flex-grow: 1;
  display: flex;
  padding: 30px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff2;
}

.form label{
  width: 100%;
  text-align: left;
}

.form input, .form select{
  width: 300px;
  margin-bottom: 20px;
}

.form button{
  width: 100%;
  margin-top: 20px;
}