.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.searchBar .total{
  margin-left: 20px;
}

.searchBar input {
  width: 400px;
}

.reload {
  position: relative;
  z-index: 1;
  margin-left: 10px;
}

.reload img {
  width: 20px;
  height: 20px;
  filter: invert(100);
}
