.container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.head{
  display: flex;
  margin-bottom: 20px;
  background-color: gray;
}

.controls{
  display: flex;
  margin-bottom: 20px;
}

.controls div{
  margin-bottom: 0px !important;
  margin-right: 10px;
}

.head span{
  flex-grow: 1;
  padding: 20px;
  outline: 1px solid #ccc;
}

.scroll{
  flex-grow: 1;
  overflow-y: scroll;
  background-color: #fff2;
  outline: 1px solid #ccc;
}

.row{
  display: flex;
}

.row, .col-mdmonth, .sales, .expenses{
  outline: 1px solid #ccc;
}

.month{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.sales{
  flex-grow: 1; 
  padding: 20px;
}

.expenses{
  flex-grow: 1; 
  padding: 20px;
}