.container {
  width: 100%;
}

.chart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 900px;
  height: 400px;
  margin-left: 50px;
  border-radius: 10px;
  overflow: hidden;
}

.controls {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0px 20px 25px;
}    

.controls select {
  width: 200px;
  background-color: #444;
  color: white;
}

.notFound {
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0008;
}

@media screen and (max-width: 1300px) {
  .chart {
    width: 700px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chart {
    width: 100%;
    margin-left: 0;
    border-radius: 0;
  }
}
