.table {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: calc(100vh - 230px);
  overflow: hidden;
  background-color: #fff2;
}

.data {
  flex-grow: 1;
  overflow-y: scroll;
}

.firstRow {
  background: gray;
  padding-right: 17px;
}

.rows {
  display: grid;
  grid-template-columns: 40px repeat(3, 1fr) 80px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.rows label {
  display: none;
}

.rows input[type="checkbox"] {
  width: 20px;
}

.rows span,
.rows div {
  padding: 5px;
  border-right: 1px solid #ccc;
}
